<h3><strong>Amount of times greeted</strong></h3>
<div class="container-2">
    <div class="row">
        <div class="twelve columns">
            <p><strong>{{this.names}}</strong> has been greeted <strong>{{this.count}}</strong> time(s)</p>
            <a href="/greeted"><button class="back" type="submit">BACK</button></a>
        </div>
    </div>
</div>
