<h3><strong>Amount of times greeted</strong></h3>
<div class="container">
    <div class="row">
            <div class="twelve columns">
                <p>{{this.names}} has been greeted {{this.count}} time(s)</p>
            </div>
    </div>
</div>
